<!DOCTYPE html>
<html lang="zxx">
   <head>
        <style>
            img.groove {border-style: groove;}
           body{
<!--    background: -webkit-linear-gradient(left, #3931af, #00c6ff);-->
<!--    background-image:url('static/assets/images/drumb.jpg');-->
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

<!--/* Button used to open the contact form - fixed at the bottom of the page */-->
<!--.open-button {-->
<!--  background-color: #555;-->
<!--  color: white;-->
<!--  padding: 16px 20px;-->
<!--  border: none;-->
<!--  cursor: pointer;-->
<!--  opacity: 0.8;-->
<!--  position: fixed;-->
<!--  bottom: 23px;-->
<!--  right: 28px;-->
<!--  width: 280px;-->
<!--}-->

/* The popup form - hidden by default */
.form-popup {
  margin: auto;

  display: none;
  position: fixed;
  top:15%;
  left:35%;
  border: 3px solid #f1f1f1;
  z-index: 9;

}

/* Add styles to the form container */
.form-container {
  max-width: 100%;
  padding: 10px;

  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 70%;
  padding: 10px;

  margin: 0px 10% 22px 20px;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
opacity:1;
}

       </style>
       {% load static %}
      <title>Sway An Entertainment Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Sway Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);

         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>


      <!--//meta tags ends here-->
      <!--booststrap-->
<!--      <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">-->
<!--      &lt;!&ndash;//booststrap end&ndash;&gt;-->
<!--      &lt;!&ndash; font-awesome icons &ndash;&gt;-->
<!--      <link href="{% static 'assets/css/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css" media="all">-->
<!--      &lt;!&ndash; //font-awesome icons &ndash;&gt;-->
<!--      &lt;!&ndash;stylesheets&ndash;&gt;-->
<!--      <link href="{% static 'assets/css/style.css' %}" rel='stylesheet' type='text/css' media="all">-->
<!--      &lt;!&ndash;//stylesheets&ndash;&gt;-->
<!--      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">-->
<!--      <link href="//fonts.googleapis.com/css?family=Felipa" rel="stylesheet">-->
   </head>
   <body>
<!--   <section id="service-details" class="service-details">-->
      <div class="form-popup" id="myForm">
  <form action="../edititem/{{user.pk}}" align="center" class="form-container"  method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <h1 >edit profile</h1>
<table>
      <tr><td><label><b>name:</b></label></td>
    <td><input type="text"  name="name" value="{{user.name}}" required></td></tr>

      <tr><td><label><b>username:</b></label></td>
    <td><input type="text"  name="username" value="{{user.username}}"  required></td></tr>

      <tr><td><label><b>phone no:</b></label></td>
    <td><input type="text"  name="phoneno" value="{{user.phoneno}}" required></td></tr>

      <tr><td><label><b>email:</b></label></td>
   <td> <input type="text"  name="email" value="{{user.email}}" required></td></tr>
<tr>
    <td colspan="4"></td>
</tr>
    <tr><td><label><b> profile:</b></label></td>
    <td><input type="file"  name="profile" ></td></tr>
    <tr ><td  colspan="2">
        <br>
      <button type="submit" class="btn btn-lg-5">save</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button></td></tr>


        </table>
  </form>
</div>
      <div class="form-popup" id="myFor">
  <form action="compabout" class="form-container" align="center" method="post" >
        {% csrf_token %}

    <h1 >edit details</h1>
      <br>
<table>
      <tr><td><label><b>Location:</b></label></td>
    <td><input type="text"  name="location" value="{{i.native}}" required></td></tr>

      <tr><td><label><b>Achievements:</b></label></td>
    <td><input type="text"  name="achievements" value="{{i.achievements}}"></td></tr>

      <tr><td><label><b>About & Departments:</b></label></td>
          <td> <textarea   name="disc"  value="{{i.disc}}" ></textarea></td></tr>



    <tr><td><label><b>Fee:</b></label></td>
   <td> <input type="number"  name="fprice" value="{{i.fprice}}" required></td></tr>
    <tr ><td  colspan="2">
        <br>
      <button type="submit" class="btn btn-lg-5">save</button>
    <button type="button" class="btn cancel" onclick="closeFor()">Close</button></td></tr>
</table>
  </form>
</div>

       <div class="form-popup" id="aForm">
{% for i in data %}
        <form action="editdm/{{i.pk}}"  class="form-container" align="center" method="post">
            {% csrf_token %}


    <h1>edit details</h1>

    <table>

      <tr><td><label><b>Location:</b></label></td>
    <td><input type="text"  name="location" value="{{i.native}}"></td></tr>


      <tr><td><label><b>achievements:</b></label></td>
    <td><input type="text"  name="achievements" value="{{i.achievements}}"></td></tr>

      <tr><td><label><b>About & Department:</b></label></td>
        <td> <textarea  name="disc" value="{{i.disc}}"></textarea></td></tr>


      <tr><td><label><b> price:</b></label></td>
    <td><input type="number"  name="fprice" value="{{i.fprice}}"></td></tr>



    <tr><td colspan="2"><br>
      <button type="submit" class="btn">save</button>
    <button type="button" class="btn cancel" onclick="closea()">Close</button></td></tr>


        </table>
    </form>
             {% endfor %}
</div>

      </section>
      <!--headder-->




      <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="{% static 'assets/css/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css" media="all">
      <!-- //font-awesome icons -->
      <!--stylesheets-->
      <link href="{% static 'assets/css/NEW.css' %}" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Felipa" rel="stylesheet">
   <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">INDUSTRIAL VISIT</a></h1>
<!--       Uncomment below if you prefer to use an image logo-->
<!--       <a href="index.html" class="logo"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto "  href="../companyservices">Home</a></li>
          <li><a class="nav-link scrollto active" href="../compprofile">Profile</a></li>
          <li><a class="nav-link scrollto"  href="../compaddprojects">Add Projects</a></li>
          <li><a class="nav-link scrollto"  href="../compcoldet">College Details</a></li>
<li><a class="nav-link scrollto" href="../acc">Accept</a></li>
          <li><a class="nav-link scrollto" href="rej">Reject</a></li><!--          <li><a class="nav-link scrollto" href="#team">Team</a></li>-->
          <li><a class="nav-link scrollto" href="../paid">Paid</a></li><!--          <li><a class="nav-link scrollto" href="#team">Team</a></li>-->
          <li class="dropdown" ><a href="../logout"><span>Logout</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
    </div>
  </section><!-- End Hero -->
   <!-- //short-->
      <!--contact -->
  {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></p>
        {% endfor %}
    </div>
{% endif %}
      <br>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
      <div class="col-xl-12"  style="margin-left:15%; width:900px; background: #fff;">
                        <div action="" method="post" style="
                         box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
                         padding:10px;" enctype="multipart/form-data" >

<div class="container emp-profile" style="padding-left:50px;">
            <form method="post">
                <div class="row ">
                    <div class="col-md-4">
                        <div class="profile-img">
                            {% if user.profile %}
                            <img src="{{user.profile.url}}" alt="no profile" style="width:150px; height:150px">
                            {% else %}
                            <img src="static/assets/img/profile.jpg" style="width:150px; height:150px">
                            {% endif %}


                             <div>
                                <button type="button" class="btn btn-primary mt-5" onclick="openForm()">Edit profile</button>
                                 {% if data %}
                                 <button type="button" class="btn btn-primary mt-5 " onclick="opena()">Edit detail</button >
                                  {% else %}
                                <button type="button" class="btn btn-primary mt-5" onclick="openFor()">Add details</button>
                                 {% endif %}


</div>

                        </div>
                    </div>


                    <div class="col-md-5"  >
                        <div class="profile-head">
                            <br><br>
                            <h5>{{user.name}}</h5>
                            <h5>{{user.email}}</h5>

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
<!--                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>-->
                                </li>
                            </ul>
                        </div>
                    </div>
<!--                    <div class="col-md-3  justify-content-bottom">-->
<!--                        <a href="editprofile"  type="submit" class="btn sent-butnn btn-lg"  name="btnAddMore"  style="margin-top:120px">Edit profile-->
<!--                        </a>-->


<!--                    </div>-->
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
<!--                            <p>WORK LINK</p>-->
<!--                            <a href="">Website Link</a><br/>-->
<!--                            <a href="">Bootsnipp Profile</a><br/>-->
<!--                            <a href="">Bootply Profile</a>-->
<!--                            <p>SKILLS</p>-->
<!--                            <a href="">Web Designer</a><br/>-->
<!--                            <a href="">Web Developer</a><br/>-->
<!--                            <a href="">WordPress</a><br/>-->
<!--                            <a href="">WooCommerce</a><br/>-->
<!--                            <a href="">PHP, .Net</a><br/>-->
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.username}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Company Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.name}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.email}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Fees</label>
                                            </div>
                                            <div class="col-md-6">
                                                {% for i in data %}
                                                <p>{{i.fprice}}</p>
                                                {% endfor %}
                                            </div>
                                        </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        {% csrf_token %}
                        <h4>AboutUs</h4>
                        {% if data %}
                          {% for i in data %}
                        <br>
                        <div class="p-4 rounded shadow-sm bg-light"> <p class="font-italic mb-0"><b>Location:
                        </b>{{i.native}}</p><br>

                           <p class="font-italic mb-0"><b>About:</b>{{i.disc}}</p><br>
                           <p class="font-italic mb-0"><b>phone no:</b>{{user.phoneno}}</p>
                            <br>
                            </div>

                            {% endfor %}

                               {% else %}
                    <div class="text-center btn btn-danger">
                       <h2>please add details</h2>
                            </div>
                      {% endif %}
                        <br><br>

          <div class="py-4 px-4">
              <div class="d-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-0"> Projects</h4> </div>
            <div class="row" >
              {% for i in data1 %}
              <div class="col-lg-4 mb-4 pr-lg-2">
              <div class="col-lg-30 mb-16 pr-lg-30" style="border:2px solid black;color:black;"><center>
                    <img src="{{ i.projectimg.url }}" style="width:500px;height:200px;padding-top:20px;"
                         alt="" class="img-fluid rounded shadow-sm"></center>
                    <br>
                    <h5><b style="margin-left:15px;">College:{{i.collegename}}</b></h5><p style="margin-left:15px;">Department:{{i.department}}<br>Description:{{i.projectdescr}}<br>
                        <b style="margin-left:20px;" class="text-muted"><i class="fas fa-calendar-alt"></i>{{i.date}}</b></p>
                  <a href="delete/{{i.pk}}" style="margin-left:60px;" class="btn btn-danger">delete</a>

              </div>

              </div>

              {% endfor %}

            </div> </div> </div>
                    </div>
                </div>
            </form>
        </div>
      </div>
      </div>
      <script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}
function opena() {
  document.getElementById("aForm").style.display = "block";
}
function openFor() {
  document.getElementById("myFor").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
function closea() {
  document.getElementById("aForm").style.display = "none";
}
function closeFor() {
document.getElementById("myFor").style.display = "none";
}

</script>
   <!--//contact  -->
      <!--footer -->
      <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>IV</h3>
              <p>
                Ernakulam <br>
                High court near MG road<br><br>
                <strong>Phone:</strong> +91 9778294812<br>
                <strong>Email:</strong> ivpackage00@gmail.com<br>
              </p>

            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="../">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="../services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="../contact">contact us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>



    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>IV</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX loding form: https://bootstrapmade.com/dewi-free-multi-purpose-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>